body {
    font-family: Arial;
    padding: 10px;
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    margin-left: 60%;
    color: white;
}


/*字体单位的合理使用：em*/

p {
    line-height: 2em;
    text-indent: 32px;
    font-size: 16px;
    line-height: 32px;
    color: saddlebrown;
}


/*绝对定位*/

img {
    position: absolute;
    left: 50%;
    margin-left: -181px;
}


/* 导航条 */

.topnav {
    overflow: hidden;
    background-color: chocolate;
    background-image: linear-gradient(to bottom right, chocolate, burlywood);
}


/* 
    导航条链接 
    float布局技术
*/

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* 链接颜色修改 */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* 创建两列 */


/* Left column */

.leftcolumn {
    float: left;
    width: 75%;
}


/* 右侧栏 */

.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}


/* 图像部分 */

.fakeimg {
    background: url(../img/d53f8794a4c27d1e110e19aa6f262967dcc438b4.jpeg);
    width: 70%;
    padding: 20px;
}


/* 文章卡片效果 */

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}


/* 列后面清除浮动 */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* 底部 */

.footer {
    padding: 20px;
    text-align: center;
    background: burlywood;
    margin-top: 20px;
}


/* 响应式布局 - 屏幕尺寸小于 800px 时，两列布局改为上下布局 */

@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}


/* 响应式布局 -屏幕尺寸小于 400px 时，导航等布局改为上下布局 */

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

span {
    font-size: 1.5em;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: burlywood;
}

li {
    float: left;
}

li a {
    display: block;
    color: brown;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: cornsilk;
}

* {
    box-sizing: border-box;
}

video {
    width: 100%;
    height: auto;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .col-s-12 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

html {
    font-family: "Lucida Sans", sans-serif;
}


/* 头部标题 */

.header {
    padding: 30px;
    text-align: center;
    background: burlywood;
}

.header h1 {
    font-size: 50px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: linen;
    color: black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
    background-color: burlywood;
}

.aside {
    background-color: burlywood;
    padding: 15px;
    color: black;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.aside1 {
    background-color: transparent;
    padding: 15px;
    color: black;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

img1 {
    width: 100%;
}

.slider-wrap {
    position: relative;
    width: 100%;
    height: 600px;
}

.slider {
    height: 100%;
}

.slider .slider-list {
    position: relative;
    height: 100%;
}

.slider .slider-list .item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider .slider-list .item.cur {
    display: block;
}

.yuan {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

.yuan .yuan-item {
    display: block;
    position: relative;
    float: left;
    width: 18px;
    height: 18px;
    margin-right: 1px;
    cursor: pointer;
}

.yuan .yuan-item::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 50%;
    box-sizing: border-box;
}

.yuan .yuan-item.cur::after {
    background: #fff;
}

.yuan .yuan-item::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
}

.yuan .yuan-item.cur::before {
    background-color: rgba(255, 255, 255, .2);
}

.btn-group {
    width: 100%;
}

.btn-group .btn-left,
.btn-group .btn-right {
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    background: rgba(255, 255, 255, .5);
    border-radius: 50%;
    cursor: pointer;
    font-family: "宋体";
}

.btn-group .btn-left {
    left: 15px;
    top: 50%;
    margin-top: -25px;
}

.btn-group .btn-right {
    right: 15px;
    top: 50%;
    margin-top: -25px;
}

.right {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
}


/*字体声明：安全字体（fallback机制）*/

p.serif {
    font-family: "Times New Roman", Times, serif;
}